.about-cattary--wrapper{
  background-color: $dark-grey;

  margin: 0;
  padding: 0;
}

.title{
  margin: 0;
  padding-left: 200px;
}

.location {
  color: $light-brown;
}

.about-cattery{
  padding-bottom: 50px;
  padding-left: 200px;
}

.social{
  padding-bottom: 65px;
  padding-left: 80px;
}


