.button{
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  color: $white;

  border: 0.5px solid $light-brown;
  box-sizing: border-box;

  padding: 18px 40px;

  &:hover,
  &:active{
    background-color: $light-brown;
  }
}
