.features{
  padding-top: 80px;
  padding-bottom: 110px;
  text-align: center;
}

.features__description{
  width: 750px;
}

.features__list{
  margin-top: 205px;
}

.features__item{
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  width: 254px;
}

.features__item--right{
  text-align: right;
}

.features__item--left{
  text-align: left;
}
