.main-footer{
  background-color: $dark-grey;
  margin-top: 115px;
  padding-bottom: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contacts__link-location{
  font-size: 14px;
  line-height: 27px;
}

.contacts__link-tel{
  font-weight: bold;
  font-size: 14px;
  line-height: 27px;
}
