.main-footer{
  background-color: $dark-grey;
  margin-top: 115px;
  padding-bottom: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contacts{
  width: 450px;
  display: flex;
  justify-content: space-between;
}

.contacts__link-location{
  font-size: 14px;
  line-height: 27px;
  color: $light-beige;
}

.contacts__link-tel{
  font-weight: 700;
  font-size: 14px;
  line-height: 27px;
  color: $light-beige;
}
