.main-header{
  background-color: $dark-grey;

  margin: 0;
  padding: 0;
}

.nav{
  display: flex;

  padding-top: 53px;
  padding-left: 204px;
}

.nav__list{
  display: flex;
  justify-content: space-between;

  width: 385px;
  min-height: 45px;
}

.nav__item a{
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  opacity: 0.2;

  color: $white;

  &:active{
    opacity: 1;
  }
}
