.main-header{
  background-color: $dark-grey;

  margin: 0;
  padding: 0;
}

.nav{
  display: flex;
  padding-top: 53px;
}

.nav__logo{
  order: 2;
  width: 55px;
}

.nav__list{
  display: flex;
  justify-content: space-between;

  width: 385px;
  min-height: 45px;
}

.nav__link{
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  opacity: 0.2;

  color: $white;

  &:active{
    opacity: 1;
  }
}

.nav__link--active{
  opacity: 1;
}
