.team__person{
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: $light-brown;
}

.team__description{
  line-height: 22px;
}

.team__about{
  font-weight: 300;
  line-height: 25px;
}
