.title{
  font-family: "YesevaOne", serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 60px;
}

.title--lvl-2{
  font-family: "YesevaOne", serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;

  margin-bottom: 20px;
}

.title--lvl-3{
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: $light-brown;
}
